
/*
=============
global styling
=============  
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f6f7fb;
}

.btn{
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.95);
}

.btn:disabled{
    cursor: not-allowed;
    background-color: #999;
}



/*
=============
main styling
=============  
*/

.main{
    text-align: center;
    overflow: hidden;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 100%;
    width: 350px;
    margin-bottom: 30px;
    position: relative;
}

.progress-container::before{
    content: "";
    /* color: white; */
    background-color: #e0e0e0;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.progress{
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    height: 30px;
    width: 30px;
    color: #999;
    border-radius: 50%;
    border: 3px solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 0.4 ease-in;
}

.circle.active{
    border-color: #3498db;
}
