/*
===============
global Styling
===============  
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
===============
Main Styling
===============  
*/

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 16, 183);
    overflow: hidden;

    border: 5px solid black;
}

.container{
    /* width: calc(100vw - 1200px); */
    height: 40px;
    box-sizing: border-box;
    position: relative;
}
.search{
    border: 0;
    height: 40px;
    font-size: 20px;
    width: 50px;
    padding: 10px;
    transition: width 0.5s ease-in-out;
}

.btn{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 50px;
    border: 0;
}

.search:active{
    width: 100px;
}