
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');    

/* font-family: 'Quicksand', sans-serif; */

/*
==============
global styling
==============
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(16, 15, 15, 0.936);
    color: rgb(241, 238, 234);
}

button{
    font-size: 25px;
    font-weight: 400;
    margin: 0 30px;
    height: 70px;
    width: 160px;
    border: 6px solid black;
    border-radius: 35px;
}

/*
==============
Navbar styling
==============
*/

.navbar{
    height: 4rem;
    text-align: center;
    background-color: rgba(16, 15, 15, 0.936);
    color: white;
    
    border: 5px solid black;
}

.counter{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    margin-top: 5.5px;
}

/*
==============
Container styling
==============
*/

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 4rem);
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 200;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

.Decrease{
    background-color: red;
    border-color: red;
    box-shadow: 4px 12px 0 rgb(143, 9, 9);
}

.Reset{
    background-color: paleturquoise;
    border-color: paleturquoise;
    box-shadow: 4px 12px 0 rgb(40, 193, 193);
}

.Increase{
    background-color: rgb(25, 194, 25);
    border-color: rgb(25, 194, 25);
    box-shadow: 4px 12px 0 rgba(14, 129, 14, 0.913);
}

/*
==============
Utility classes
==============
*/

.red{
    color: red;
}

.green{
    color: rgb(95, 234, 95);
}

.neutral{
    color: white;
}

.d{
    transform: translate(0px, 10px);
    border-color:  rgb(220, 13, 13);
    background-color: rgb(220, 13, 13);
}

.r{
    transform: translate(0px, 10px);
    border-color:  rgb(104, 219, 219);
    background-color: rgb(104, 219, 219);
}

.i{
    transform: translate(0px, 10px);
    border-color:  rgba(14, 129, 14, 0.913);
    background-color: rgba(14, 129, 14, 0.913);
}